export(is.empty)
exportClasses(a4aGr)
exportClasses(a4aM)
exportMethods("distr<-")
exportMethods("grInvMod<-")
exportMethods("grMod<-")
exportMethods("level<-")
exportMethods("params<-")
exportMethods("rnglen<-")
exportMethods("rngmbar<-")
exportMethods("shape<-")
exportMethods("trend<-")
exportMethods(a4aGr)
exportMethods(a4aM)
exportMethods(distr)
exportMethods(getK)
exportMethods(getYidx)
exportMethods(grInvMod)
exportMethods(grMod)
exportMethods(l2a)
exportMethods(level)
exportMethods(m)
exportMethods(mvrcop)
exportMethods(mvrnorm)
exportMethods(mvrtriangle)
exportMethods(niters)
exportMethods(params)
exportMethods(pars2dim)
exportMethods(rnglen)
exportMethods(rngmbar)
exportMethods(shape)
exportMethods(trend)
exportMethods(veclen)
exportMethods(vecmbar)
import(copula)
import(FLCore)
import(triangle)
